@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Sofia+Sans:wght@200&display=swap');


.fullnav{
    border: 1px solid rgb(165, 162, 162); 
    border-top:none;
    border-left:none;
    border-right:none;
    margin:15px 90px 0 90px;
    
    
}
@media(Min-width:300px) and (max-width:800px) {
    .fullnav{
        border: 1px solid rgb(165, 162, 162); 
        border-top:none;
        border-left:none;
        border-right:none;

    
}
}

.the{

    transform: rotate(-90deg);
    position:absolute;
    top:23px;
    left:560px;
    font-size: x-large;
    display: inline;
}
@media(Min-width:300px) and (max-width:800px) {
    .the{
        transform: rotate(-90deg);
       position:absolute;
       left:-1px; 
       font-size: 25px;
        display: inline;
        margin-left: 20px;
    }
}
.siren{
   
    font-size: 50px;
    position: relative;
    left:500px;
    top: -10px;
    font-style:bold ;
}
@media(Min-width:300px) and (max-width:800px) {
    .siren{
        position: relative;
        left:-40px;
        top: -10px;
    
        font-size: 50px;
        padding-left: 5px;
        font-style:bold ;
    }
}
.topnav{
    
    display:flex;
    justify-content: space-around;
    font-size:x-large;
    margin:20px 90px 0 90px;
    

}
@media(Min-width:300px) and (max-width:800px) {
    .topnav{
    
        display:flex;
        font-size:x-large;
        flex-direction: column;
         margin:10px 10px 0 40px; 
         text-align: center;
        
    
    }
}

.li{
    text-decoration: none;
    color:black;
}